<!doctype HTML>
<head>
	<%- include("head") %>
	<!-- <script src="slaveDisplay.js"></script> -->
</head>

<body>
	<%- include("nav") %>
	<div id="body" class="container">
		<div class="page-header mt-2 row" id="banner">
			<div class="col-lg-8 col-md-7 col-sm-6">
				<h2>Connected Nodes</h2>
			</div>
		</div>
		<div id="display"><%
for (let [id, slave] of locals.slaves) { %>
			<div id="<%= id %>" class="slaveBox card mb-3">
				<div class="card-body">
					<h5 class="card-title"><a href='nodeDetails?instanceID=<%=id%>'>
						<%= slave.name %>
					</a></h5>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">ID: <%= id %></li>
				</ul><%
	for (let plug of locals.masterPlugins.values()) {
		if (
			plug
			&& plug.ui
			&& typeof plug.ui.slaveListing == "object"
			&& Array.isArray(plug.ui.slaveListing)
		) {
			let slaveListingEntries = plug.ui.slaveListing;
			for (let button of slaveListingEntries) {
				if (button.getHtml && typeof button.getHtml == "function") { %>
				<div class="plugin-link"><%- button.getHtml({slave}) %></div><%
				}
			}
		}
	} %>
			</div><%
} %>
		</div>
	</div>
	<script>
		$('.plugin-link a').addClass('btn btn-primary')
	</script>
</body>
